.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 98px;
}

.describe {
  text-align: center;
  font-size: 16px;
  color: var(--grey-2);
  margin-bottom: 14px;
}

.content {
  width: 1058px;
  height: 923px;
  display: flex;
  gap: 10px;
}

.shopService {
  width: 1440px;
  background: var(--yellow-1);
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.line {
  width: 1440px;
  border: 1px solid var(--grey);
  margin-bottom: 48px;
}
