.container {
  background: var(--yellow);
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
}

.filter {
  margin-left: 100.98px;
  display: flex;
  align-items: center;
}

.filter p {
  font-size: 20px;
  font-weight: 400;
  margin-left: 12px;
  margin-right: 23px;
}

.viewList {
  margin-left: 25.5px;
  margin-right: 31.5px;
}

.line {
  height: 37px;
  border: 1px solid var(--grey-2);
  margin-right: 34px;
}

.textShowing {
  margin-right: 348px;
  font-size: 16px;
  font-weight: 400;
}

.textShow {
  font-size: 20px;
  font-weight: 400;
}

.leght {
  margin-left: 17px;
  width: 55px;
  height: 55px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-2);
  font-size: 20px;
  margin-right: 29px;
}

.shortBy{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 55px;
  font-size: 20px;
  background: var(--white);
  margin-left: 17px;
  color: var(--grey-2);
}
