.container{
  display: flex;
  align-items: center;
}
.container img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 12px;
}

.title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  width: 150px;
}

.date{
  font-size: 12px;
  font-weight: 400;
  color: var(--grey-2);
}