.shopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filterContainer {
  margin-bottom: 46px;
}

.productContainer {
  max-width: 1236px;
  margin-bottom: 40px;
}

.productsCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.shopService {
  width: 1440px;
  background: var(--yellow-1);
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  margin-top: 85px;
}

